
# HACS dependencies.
colorlog==6.9.0
homeassistant==2025.2.4
ruff==0.12.2

# Todotree dependencies.
todotree

# Other dependencies.
aiohttp~=3.11.12
async-timeout~=5.0.1
voluptuous~=0.16.0
python-slugify~=8.0.4