
# HACS dependencies.
colorlog==6.10.1
homeassistant==2025.2.4
ruff==0.15.1

# Todotree dependencies.
todotree

# Other dependencies.
aiohttp~=3.13.3
async-timeout~=5.0.1
voluptuous~=0.16.0
python-slugify~=8.0.4